/* Paging */

#paging {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: var(--margin-size-lg) 0;
}

/* PagingNumber */

.pagingNum {
  width: var(--font-size-h1);
  height: var(--font-size-h1);
  text-align: center;
  line-height: var(--font-size-h1);
  cursor: pointer;
  margin: 0 var(--padding-height-sm);
  border-radius: 5px;
  transition: background-color 0.3s ease, font-weight 0.3s ease;
}

.pagingNum:hover {
  background-color: var(--border-color);
  font-weight: 700;
  border-radius: 5px;
}

.pagingNum.selected {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
}