#currentLec {
  width: 100%;
  margin: calc(var(--margin-size-lg) * 3) 0;
}

.currentLec-header {
  width: 100%;
  text-align: left;
}

.currentLec-header span {
  font-size: var(--font-size-h2);
  color: var(--text-color);
  font-weight: 700;
}

.currentLec-header__student {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* CurrentLecTable */

.currentLecTable {
  width: 100%;
  text-align: center;
  margin: var(--margin-size-lg) 0;
  border-collapse: separate;
  border-spacing: 0 var(--margin-size-sm);
}

/* CurrentLecTh */

.currentLecTable tr {
  width: 100%;
  background-color: var(--light-gray-color);
  text-align: center;
  margin: var(--margin-size-sm) 0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.currentLecTh {
  padding: var(--margin-size-md) 0;
  /* margin: var(--margin-size-sm) 0; */
  white-space: nowrap;
}

.currentLecTh > span {
  font-size: var(--font-size-sm);
  color: var(--text-color);
  font-weight: 400;
}


@media screen and (max-width: 880px) {
  .currentLec-table {
    overflow-x: auto;
    padding: 0 var(--padding-height-sm);
  }

  .currentLecTh {
    padding: var(--margin-size-md) var(--margin-size-lg);
  }
}

/* CurrentLecTd */

.currentLecTd {
  padding: var(--margin-size-md) 0;
  background-color: var(--white-color);
  cursor: pointer;
}
/* 
.currentLecTd:hover {
  padding: var(--margin-size-md) 0;
  background-color: var(--light-gray-color);
} */

.currentLecTd__no {
  font-size: var(--font-size-h3);
  color: var(--gray-color);
  font-weight: 500;
}
.currentLecTd__name {
  font-size: var(--font-size-h3);
  color: var(--text-color);
  font-weight: 600;
}
.currentLecTd__sep {
  font-size: var(--font-size-sm);
  color: var(--gray-color);
  font-weight: 500;
}
.currentLecTd__asCnt {
  font-size: var(--font-size-sm);
  color: var(--primary-color);
  background-color: #05422B10;
  font-weight: 500;
  border-radius: 15px;
  padding: var(--padding-width-sm) var(--margin-size-sm);
}
.currentLecTd__atCnt {
  font-size: var(--font-size-sm);
  color: #101477;
  background-color: #0019FF05;
  font-weight: 500;
  border-radius: 15px;
  padding: var(--padding-width-sm) var(--margin-size-sm);
}
.currentLecTd__btn {
  font-size: var(--font-size-sm);
  color: var(--text-color);
  font-weight: 500;
  padding: var(--padding-height-sm) var(--padding-width-sm);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
}
.currentLecTd__professor {
  font-size: var(--font-size-h3);
  color: var(--text-color);
  font-weight: 500;
}
.currentLecTd__date {
  font-size: var(--font-size-sm);
  color: var(--gray-color);
  font-weight: 500;
}