#currentLec {
  width: 100%;
  margin: var(--margin-size-lg) 0;
}

.currentLec-header {
  width: 100%;
  text-align: left;
}

.currentLec-header span {
  font-size: var(--font-size-md);
  color: var(--text-color);
  font-weight: 700;
}

/* CurrentLecTable */

.currentLecTable {
  width: 100%;
  text-align: center;
  margin: var(--margin-size-lg) 0;
  border-collapse: separate;
  border-spacing: 0 var(--margin-size-sm);
}

/* CurrentLecTh */

.currentLecTable tr {
  width: 100%;
  background-color: var(--light-gray-color);
  text-align: center;
  margin: var(--margin-size-sm) 0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.currentLecTh {
  padding: var(--margin-size-md) 0;
  /* margin: var(--margin-size-sm) 0; */
}

.currentLecTh > span {
  font-size: var(--font-size-sm);
  color: var(--text-color);
  font-weight: 400;
}

/* CurrentLecTd */

.currentLecTd {
  padding: var(--margin-size-md) 0;
  background-color: var(--white-color);
}

.currentLecTd__no {
  font-size: var(--font-size-sm);
  color: var(--gray-color);
  font-weight: 500;
}
.currentLecTd__name {
  font-size: var(--font-size-h3);
  color: var(--text-color);
  font-weight: 600;
}
.currentLecTd__sep {
  font-size: var(--font-size-sm);
  color: var(--gray-color);
  font-weight: 500;
}
.currentLecTd__asCnt {
  font-size: var(--font-size-sm);
  color: var(--primary-color);
  background-color: #05422B10;
  font-weight: 500;
  border-radius: 15px;
  padding: var(--margin-size-sm);
}
.currentLecTd__atCnt {
  font-size: var(--font-size-sm);
  color: #101477;
  background-color: #0019FF05;
  font-weight: 500;
  border-radius: 15px;
  padding: var(--margin-size-sm);
}
.currentLecTd__btn {
  font-size: var(--font-size-sm);
  color: var(--text-color);
  font-weight: 500;
  padding: var(--padding-width-lg) var(--margin-size-sm);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  cursor: pointer;
}