/* PasswordForm */

.passwordForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--margin-size-lg);
}

.passwordForm__content {
  display: flex;
  flex-direction: column;
  gap: var(--margin-size-md);
}

.passwordForm__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--margin-size-sm);
}

.passwordForm__btn > button {
  padding: var(--padding-width-sm) var(--margin-size-lg);
  font-size: var(--font-size-sm);
  border: 1px solid var(--modal-border-color);
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

#wt {
  background-color: var(--white-color);
  color: var(--modal-border-color);
}

#bk {
  background-color: var(--modal-border-color);
  color: var(--white-color);
}

/* PasswordInput  */

.passwordInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--margin-size-sm);
}

.passwordInput input {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--background-color);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: var(--margin-size-sm);
  font-size: var(--font-size-sm);
}

.passwordInput input:focus {
  outline: none;
}